* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  /* font-weight: 100; */
}

.main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div {
  padding: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}

li {
  list-style: none;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  border: solid 2px rgba(169, 169, 169, 0.304);
}

h1,
p,
li {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}

input {
  background-color: rgb(57, 56, 66);
  color: rgb(223, 222, 234);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2px;
}
